<div class="item">
		<!-- 日期分类 -->
		<div class="mark" ng-show="data.date">{{data.date|date:'d MMM'}}</div>
		<ul class="posts large">
			<!-- 文章 -->
			<li ng-repeat="post in data.posts">
				<span href="javascript:;" class="tag">去远方</span>
				<div class="cont">
					<h3>{{post.title}}</h3>
					<div class="brief" ng-switch on="{{post.display_style}}">
						<!-- display_style 10001 10002 -->
						<p ng-class="{only:post.display_style === 10001}" ng-if="post.display_style !== 10003">{{post.abstract}}</p>
						<!-- 10002 -->
						<div class="thumb" ng-switch-when="10002">
							<img ng-if="post.display_style == 10002" ng-src="{{post.thumbs[0].small.url}}" alt="">
						</div>
						<!-- 10003 -->
						<div class="gallery" ng-switch-when="10003">
							<img ng-if="post.display_style == 10003" ng-src="{{post.thumbs[0].small.url}}" alt="">
						</div>
					</div>							
				</div>
			</li>
		</ul>
</div>